<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernateperformance</property>
		<property name="hibernate.connection.username">tungo</property>
		<property name="hibernate.connection.password">12345678@X</property>
		
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>
		
		<!-- 
		<property name="hibernate.hbm2ddl.auto">create-drop</property> 
		<property name="show_sql">true</property>
		<property name="hibernate.generate_statistics">true</property> 
		-->
		<property name="show_sql">true</property>

		<!-- 
		<mapping class="performance.lazyload.LazyloadInvoice"/> 
		<mapping class="performance.lazyload.LazyloadInvoiceLine"/> 
		-->

		<!--
		<mapping class="performance.query.QrCustomer" />
		<mapping class="performance.query.QrProduct" />
		<mapping class="performance.query.QrInvoice" />
		<mapping class="performance.query.QrInvoiceLine" />
		<mapping class="performance.query.QrDetailPK" />
		<mapping class="performance.query.QrDetail" />
		-->
		
		<!--  
		<mapping class="ehcache.basic.EhNote" />
		-->
		
		<!--  
		<mapping class="ehcache.querycache.EhLocation" />
		-->
		
		<mapping class="performance.filter.FtCategory" />
		<mapping class="performance.filter.FtProduct" />
	</session-factory>
</hibernate-configuration>