<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>cPanle :: Sign in</title>
<style type="text/css">
	.errorMsg {
		color: red;
	}
</style>
</head>
<body>
	<center>
		<table><tr><td><br/><br/><br/><br/><br/>
		<fieldset>
			<legend>Sign in</legend>
			<form action="" method="post">
				<table>
					<tr><td class="errorMsg" colspan="2" align="left"><?php echo $msg;?></td></tr>
					<tr>
						<td>Username</td>
						<td><input type="text" name="username" id="username"/></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" name="password" id="password"/></td>
					</tr>
					<tr>
						<td>Security code</td>
						<td><img alt="Security code" src="?c=user&a=security"/></td>
					</tr>
					<tr>
						<td>Input this code</td>
						<td><input type="text" name="code" id="code"/></td>
					</tr>
					<tr><td colspan="2" align="center">
						<hr/>
						<input type="submit" value="Sign in"/>
					</td></tr>
				</table>
			</form>
		</fieldset>
		</td></tr></table>
	</center>
</body>
</html>