		<center>
			<table class="main" cellspacing="1">
				<tr>
					<td class="header">
						<table width="100%"><tr>
							<td align="left" width="80%">
								<table>
									<tr>
										<td class="panel">Java tesing . . .</td>
									</tr>
									<tr>
										<td class="slogan">
											Have hard exersice will have good success!
										</td>
									</tr>
								</table>
							</td>
							<td align="right" valign="bottom"><a href="?c=user&a=logout">Logout</a></td>
						</tr></table>
					</td>
				</tr>
				<tr>
					<td class="body">