<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>.: cPanel - Categories :.</title>
	<?php $this->import()?>
</head>
<body>
	<?php $this->header()?><br/>
		<center>
			<table class="grid" cellspacing="1" cellpadding="5">
				<tr>
					<th align="center">Order</th>
					<th align="center" width="610">Category</th>
					<th align="center">Test</th>
				</tr>
				<?php $i = 1; foreach ($cats as $cat) {?>
					<tr>
						<td align="center"><?php echo $i;?></td>
						<td align="left"><?php echo $cat->name;?></td>
						<td align="center"><a href="?c=exam&a=exam&id=<?php echo $cat->id;?>">Test</a></td>
					</tr>
				<?php $i++; } ?>
			</table>
		</center>
		<br/>
	<?php $this->footer()?>
</body>
</html>